		<br class="Clear" />
        <div class="Container">
            <div id="Footer">

                <div class="footer-row">

                    <div class="footer-menu footer-half">
                        <h4>MAHA LONDON</h4>
                        <p>Some links here</p>
                    </div>

                    <div class="footer-logo footer-half">
                        <a href="%%GLOBAL_ShopPath%%"><img alt="Maha-London" src="%%GLOBAL_ShopPath%%/templates/Chocolate/images/brown/Maha-footer.png"/></a>
                    </div>
                </div>

                <div class="footer-row">
                    <div class="copyright footer-half">
                        <p>© 2013 Maha London</p>
                        <p>Registered UK Company 06837121 | Soft Touch International LTD</p>
                    </div>

                    <div class="payment-icons footer-half">
                        <img alt="Payment icons" src="%%GLOBAL_ShopPath%%/templates/Chocolate/images/brown/footer-payment-icons.gif"/>
                    </div>
                </div>

               <!-- %%SNIPPET_SitemapLink%% -->
                %%GLOBAL_DebugDetails%%
            </div>
        </div>
		<br class="Clear" />
		</div>


		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_LiveChatFooterCode%%

		%%GLOBAL_OptimizerTrackingScript%%

		%%GLOBAL_OptimizerConversionScript%%

		%%GLOBAL_OptimizerSetCookieScript%%

		%%GLOBAL_FooterScripts%%
